.footer {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  padding: 30px 50px;
  background-color: #333333;
  color: var(--text-white);
}
.services_footer {
  margin-top: 20px;
}
.mail_footer {
  margin-top: 20px;
  position: relative;
}
.mail_footer input {
  width: 70%;
  padding: 8px 0;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.mail_footer button {
  position: absolute;
  left: 50%;
  top: 27%;
  width: 40%;
  padding: 8px;
  border-radius: 15px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-white);
}
@media (max-width: 480px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    font-size: 5px;
  }
  .mail_footer button {
    top: 55%;
    width: 10%;
    left: 40%;
  }
  .mail_footer input {
    width: 10%;
  }
}
@media (max-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 350px);

  }
  .mail_footer button {
    top: 55%;
    width: 20%;
    left: 40%;
  }
  .mail_footer input {
    width: 50%;
  }
}
