.about {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-around;
  margin: 100px 0;
}
.personal {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  box-shadow: 6px 6px 5px rgb(235, 231, 231);
}
.personal_img {
  margin: 50px;
}
.personal_info {
  margin-top: 30px;
}

@media (max-width: 769px) {
  .about {
    display: grid;
    grid-template-columns: repeat(1, 700px);
    margin: 20px 0;
    font-size: 10px;
  }
  .personal {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
  }
  .personal_img {
    margin: 0;
  }
  .about p{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }
}
@media (max-width: 480px) {
  .about {
    grid-template-columns: repeat(1,300px);
  }
  

}